<i (click)="setRating(1)" style="color: #c22d2d;" [style.font-size]="fontSize" class="bi" [class.bi-heart-fill]="rating > 0" [class.bi-heart]="rating <= 0"></i>
<i (click)="setRating(2)" style="color: #c22d2d;" [style.font-size]="fontSize" class="bi" [class.bi-heart-fill]="rating > 1" [class.bi-heart]="rating <= 1"></i>
<i (click)="setRating(3)" style="color: #c22d2d;" [style.font-size]="fontSize" class="bi" [class.bi-heart-fill]="rating > 2" [class.bi-heart]="rating <= 2"></i>
<i (click)="setRating(4)" style="color: #c22d2d;" [style.font-size]="fontSize" class="bi" [class.bi-heart-fill]="rating > 3" [class.bi-heart]="rating <= 3"></i>
<i (click)="setRating(5)" style="color: #c22d2d;" [style.font-size]="fontSize" class="bi" [class.bi-heart-fill]="rating > 4" [class.bi-heart]="rating <= 4"></i>
