<div class="row pt-4 mx-auto">
    <div class="col-md-6 mx-auto">
        <h1 class="display-5">Bienvenue sur Gift List !!</h1>
        <div class="mt-4">
            <p>Cet outil a pour but l'enregistrement et le partage de liste de cadeaux entre amis</p>
            <br>
            <h1 class="display-6">Pour commencer...</h1>
            <br>
            <p>Le première étape est de <strong>vous enregistrer</strong> afin de créer un compte sur l'application.</p>
            <p>Si vous avez déjà un compte, vous pouvez dors et déjà vous connecter.</p>
            <p>Assurez vous de bien retenir votre <strong>login</strong> !</p>
            <p>Il sera à communiquer avec vos amis afin qu'ils partagent leur listes de cadeaux avec vous!</p>
            <br>
            <br>
            <p>Une fois connecté, commencez à renseigner vos listes et y ajouter des cadeaux dans la partie <a routerLink="/ownedLists" class="btn btn-sm btn-secondary">Vos listes&nbsp;<i class="bi bi-box-arrow-up-right"></i></a></p>
            <p>Pour consulter les listes de vos amis, et leur réserver des cadeaux, rendez vous sur <a routerLink="/friendsLists" class="btn btn-sm btn-secondary">Listes de vos amis&nbsp;<i class="bi bi-box-arrow-up-right"></i></a></p>
            <br>
            <br>
            <p>Marre de devoir autoriser un nouvel ami sur vos listes une à la fois ? Ajoutez cet ami sur <a routerLink="/friends" class="btn btn-sm btn-secondary">Vos amis&nbsp;<i class="bi bi-box-arrow-up-right"></i></a> </p>
            <p>Il pourra dès lors consulter toutes vos listes !</p>
            <br>
            <p>Et n'oubliez pas :</p>
            <figure>
                <blockquote class="blockquote">
                  <p>Un cadeau, c'est quelque chose de rare qu'on te donne comme ça sans raison parce que tu le mérites sans le savoir.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Quelqu'un de célère dans <cite title="Source Title">un de ses bouquins</cite>
                </figcaption>
              </figure>
        </div>
    </div>
</div>
